{% extends 'base.html' %}

{% block content %}
{{ content | safe }}

<h1>Electronics projects</h1>

<div class="activities">

  {% for id in electronics_projects -%}
  {%- with p = electronics_projects[id] -%}
  {%- if not p.long -%}
  <div id="electronics-project-{{ id }}">
    <div>
      <h3>{{ p.name }}</h3>
      <p class="activity-stats">
      {{ p.cost }} • electrical:&nbsp;{{ p.electrical }} • mechanical:&nbsp;{{ p.mechanical }}
      </span>
      <p>{{ p.description }}</p>
    </div>
  </div>
  {%- endif -%}
  {%- endwith -%}
  {%- endfor %}

</div>
<div class="summary">

  <h1>Long electronics projects</h1>
  <p>There are also some longer electronics projects:

</div>
<div class="activities">

  {% for id in electronics_projects -%}
  {%- with p = electronics_projects[id] -%}
  {%- if p.long -%}
  <div id="electronics-project-{{ id }}">
    <div>
      <h3>{{ p.name }}</h3>
      <p class="activity-stats">
      {{ p.cost }} • electrical:&nbsp;{{ p.electrical }} • mechanical:&nbsp;{{ p.mechanical }}
      </span>
      <p>{{ p.description }}</p>
    </div>
  </div>
  {%- endif -%}
  {%- endwith -%}
  {%- endfor %}

</div>
<!--
<div class="heading" id=feedback>

  <h1>Gallery</h1>

</div>
<div class=summary>

  <p>Here’s the sort of thing people have made in the past!

</div>
<div class="row row-gallery">

</div>
-->

<p>
  <a class="cta" href="/#book">Book Now</a>
</p>

{% endblock %}
