* {
  box-sizing: border-box;
  cursor: inherit;
}

body, div, p, textarea, pre, ul, ol, li, blockquote, hr,
table, tbody, thead, tr, td, th,
h1, h2, h3, h4, h5, a, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  -webkit-appearance: none;
  outline: none;
}

a, button {
  white-space: normal;
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 96em) {
  html {
    font-size: 1.125em;
  }
}

body {
  font-family: Open Sans, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  background: #f8f8f8;
}

h1, h2, .cta, .tagline {
  font-family: Nexa, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* font sizes */ 

h1 {
  font-size: 2rem;
  line-height: 3rem;
}
h2, .cta, .tagline {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0 0 0.25rem;
}
p, ul, li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.summary p,
.testimony {
  font-size: 1.25rem;
  line-height: 2rem;
}

/* content */

p {
  margin: 0 0 0.75rem;
}
ul {
  margin: 0.75rem 0 0 1rem;
}
li {
  margin: 0 0 0.325rem 1rem;
  list-style: disc;
}
p a {
  text-decoration: underline;
  color: #239dc9;
  transition: all .2s;
}

p a:hover {
  color: #0b2c35;
}

/* hero */

#hero {
  padding: 4rem 0 2rem;
}

#logo span {
  display: none;
}
#logo {
  background: url("data:image/svg+xml,%3Csvg width='466' height='80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M58 6h4.912v70.293H58V6zm23.558 20.485v49.808h-4.912V26.485h4.912zM75.243 10.52c0-5.222 7.92-5.222 7.92 0s-7.92 5.222-7.92 0zm36.39 65.774L90.88 26.686h5.414l18.044 43.883 18.045-43.883h5.414l-20.752 49.607h-5.413zm56.64.703c-13.935 0-25.162-9.74-25.162-25.506 0-14.862 11.227-25.607 25.162-25.607 13.934 0 26.365 8.535 24.46 27.916h-44.61c1.003 11.649 9.925 18.377 20.15 18.377 6.516 0 14.135-2.611 17.844-7.532l3.509 2.812c-4.812 6.326-13.433 9.54-21.353 9.54zm-20.15-27.515h40.2c-.1-12.25-8.12-19.08-20.05-19.08-10.225 0-19.047 6.93-20.15 19.08zm90.524-22.795h10.727L260.2 63.941l11.329-37.255h13.533l-17.243 49.808h-14.235l-5.113-14.661-4.41-16.57-4.411 16.57-5.113 14.66h-14.235l-17.343-49.807h13.634l11.328 37.255 10.726-37.255zm68.97-.1v49.707h-12.23V26.586h12.23zm11.028.2h11.328l.902 5.724c3.81-6.125 8.923-7.029 13.935-7.029 5.113 0 10.025 2.009 12.731 4.72l-5.513 10.644c-2.506-2.109-4.812-3.213-8.822-3.213-6.416 0-12.33 3.414-12.33 12.552v26.109h-12.23V26.787zm92.53 29.122h-38.596c.802 6.125 6.115 10.544 14.736 10.544 4.511 0 10.426-1.707 13.233-4.62l7.82 7.733c-5.214 5.422-13.735 8.033-21.253 8.033-17.043 0-27.168-10.544-27.168-26.41 0-15.062 10.226-25.908 26.265-25.908 16.541 0 26.867 10.243 24.962 30.628zm-38.396-10.142h26.666c-.802-6.427-5.814-9.64-12.832-9.64-6.616 0-12.03 3.213-13.834 9.64zm86.915-13.858l-6.817 8.033c-3.508-3.313-7.518-4.418-12.23-4.418-5.814 0-9.022 1.808-9.022 4.92 0 3.214 2.907 5.021 9.223 5.423C450.17 46.47 462 48.577 462 61.732 462 70.47 454.882 78 440.747 78c-7.819 0-15.638-1.305-22.856-8.837l6.015-8.736c3.508 3.916 11.528 6.828 17.042 6.929 4.611.1 8.922-2.31 8.922-5.925 0-3.414-2.807-4.82-9.824-5.222-9.323-.703-20.451-4.117-20.451-15.364 0-11.448 11.83-15.464 20.852-15.464 7.719 0 13.533 1.506 19.247 6.527z' fill='%230B2C35'/%3E%3Cpath d='M313.114 10.119c.163 0 .271.105.326.262 0 6.236-5.263 11.32-11.72 11.32-6.457 0-11.72-5.084-11.72-11.32 0-.157.109-.262.271-.262h3.147c.163 0 .272.105.272.262 0 4.245 3.635 7.703 8.03 7.703s7.976-3.458 7.976-7.703c0-.157.108-.262.271-.262h3.147zm-11.394 6.079c-.163 0-.38-.053-.597-.053-2.984-.262-5.209-2.672-5.209-5.502v-.105c.054-1.887.706-3.092 1.302-3.773.597-.734 1.248-.996 1.303-1.048.108 0 .217 0 .27.052.11.052.11.157.11.262-.218 1.258.492 2.102.926 2.469 0-2.25.701-4.041 1.678-5.142a11.305 11.305 0 0 1 2.496-2.044c.108-.052.217-.052.325.053.054.052.109.21 0 .314-1.248 1.468-.217 2.778 1.031 4.455l.054.052c.923 1.258 2.062 2.778 2.116 4.402v.105c0 1.782-.922 3.459-2.495 4.507l-.055.053c-.054 0-.054.052-.108.052l-.054.052a6.344 6.344 0 0 1-3.093.839z' fill='%232CA8D7'/%3E%3Cpath fill='%232BA8D8' d='M44.247 34.292L16.877 74.54l6.842-26.831H7.753L35.123 7.46l-6.842 26.831z'/%3E%3Cpath fill='%230B2C35' d='M58 6h5v70h-5z'/%3E%3C/g%3E%3C/svg%3E%0A") center top no-repeat;
  background-size: contain;
  display: block;
  height: 4rem;
  margin: 1rem auto 2rem;
}

.tagline {
  color: #2ba8d8;
  text-align: center;
  margin: 0 0 0.5rem;
  text-shadow: 0 0 1px rgba(255,255,255, 0.2)
}

.heading {
  background: #239dc9;
  color: #fff;
  padding: 2rem 2rem; 
  padding-left: calc(2rem + env(safe-area-inset-left));
  padding-right: calc(2rem + env(safe-area-inset-right));
  text-align: center;
  clear: both;
  margin: 2rem 0;
  clear: both;
}

/* grid */

hr {
  background: #333;
}

.row {
  margin: 1rem auto;
  max-width: 54rem;
  position: relative;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.col {
  margin-top: 0;
  padding: 1rem 1rem 2rem;
  clear: both;
}
.summary {
  padding: 1rem;
}

.col-image-mixer { background: url(/assets/photo/mixer.jpg) bottom center no-repeat; }
.col-image-bible { background: url(/assets/photo/bible.jpg) top center no-repeat; }
.col-image-splash { background: url(/assets/photo/splash.jpg) bottom center no-repeat; }
.col-image {
  content: "";
  display: block;
  background-size: cover;
  width: 100%;
  height: 12em;
  margin-bottom: 4rem;
}

@media screen and (min-width: 46rem) {
  .summary {
    margin-left: 16.6%;
    margin-right: 16.6%;
    text-align: center;
  }

  .col {
    clear: none;
  }

  .col-left { margin-right: 50%; }
  .col-image-left { left: env(safe-area-inset-left); right: 50%; }
  .col-float-left { float: left; width: 50%; }
  .col-right { margin-left: 50%; }
  .col-image-right { left: 50%; right: env(safe-area-inset-right); }

  .col-first-third { float: left; width: 33%; }
  .col-second-third { float: left; width: 33%; }
  .col-third-third { margin-left: 66%; }

  .col-image {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 1rem;
    width: auto;
    height: auto;
  }

  .row-has-image { min-height: 16rem; }
  .row-has-map { min-height: 22rem; }
}

.col-image-map {
  min-height: 20rem;
}
.col-image-map > iframe {
  width: 100%;
  height: 100%;
}

/* activities */

.row-cells {
  margin: 1.5rem auto 0;
  padding: 0 1rem;
  padding-left: calc(2rem + env(safe-area-inset-left));
  padding-right: calc(2rem + env(safe-area-inset-right));
}
.cell {
  padding: 0 0.5rem 2rem;
}
.activity {
  border: 1px solid #999;
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem 2rem 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(18, 78, 100, 0.1);
}

@media screen and (min-width: 34rem) {
  .cell {
    float: left;
    width: 50%;
  }
  .cell:nth-child(2n+1) { clear: left; }
  .activity {
    min-height: 14rem;
  }
}

@media screen and (min-width: 46rem) {
  .activity {
    min-height: 11rem;
  }
}

@media screen and (min-width: 60rem) {
  .activity {
    min-height: 9.75rem;
  }
}

/*
@media screen and (min-width: 60rem) {
  .cell {
    float: left;
    width: 33%;
  }
  .cell:nth-child(2n+1) { clear: none; }
  .cell:nth-child(3n+1) { clear: left; }
  .activity {
    min-height: 13.5rem;
  }
}
*/

/* testimonies */

.testimony {
  margin: 1rem 1rem;
  padding: 0 1rem 0 1.5rem;
  position: relative;
}

@media screen and (min-width: 46rem) {
  .testimony {
    margin: 1rem 0;
    width: 33%;
    float: left;
  }
}


.testimony:before {
  content: "“";
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2.5rem;
  text-align: center;
  width: 1.5rem;
}

.row-testimonies:after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 4rem;
}

/* headshots */

.headshot {
  float: left;
  margin: 0 2rem 2rem 0;
  text-align: center;
}
.headshot h2 {
  margin: 0.75rem 0 0;
}
.headshot img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}
.headshot-bio { margin-left: 10em; }

@media screen and (min-width: 46rem) {
  .headshot {
    float: none;
    margin: 0 2rem 1rem 0;
  }
  .headshot-bio { margin-left: 0; }
}


/* cta */

.cta {
  clear: both;
  text-align: center;
  margin: 1rem auto 0;
  width: 33%;
  min-width: 10em;

  display: block;
  padding: 0.5em 1em;
  background: #239dc9;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  transition: all .2s;
}

.cta:hover {
  background-color: #104d7a;
}

/* footer */

.footer {
  background: #104d7a;
  margin-top: 3rem;
  padding-bottom: 3rem;
  color: rgba(255, 255, 255, 0.6);
}
.footer a, .footer p a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-bottom: 1px solid #104d7a;
  transition: all .2s;
}

.footer a:hover, .footer p a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.row-footer {
  padding: 2rem 8rem 0;
  padding-left: calc(8rem + env(safe-area-inset-left));
  padding-right: calc(8rem + env(safe-area-inset-right));
  min-height: 6rem;
  margin-bottom: 0;
}

.bolt-white {
  background: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 52l-48 72 12-48H32L80 4 68 52z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E%0A") center top no-repeat;
  background-size: auto 100%;
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  left: calc(2rem + env(safe-area-inset-left));
}

.footer-links {
  margin: 0;
}
.footer-links li {
  margin: 0 0 0.75em;
  list-style: none;
}


